.col-lg-4.col-md-4.location-info
  %h3 More business info
  %ul
    %li
      %span Takes Reservations 
      %strong No
    %li
      %span Delivery 
      %strong No
    %li
      %span Take-out 
      %strong Yes
    %li          
      %span Accepts Credit Cards 
      %strong Yes
    %li  
      %span Good for Groups 
      %strong No
    %li
      %span Attire Casual
    %li
      %span Outdoor Seating 
      %strong No