//new review form
.add-review {
  form {
    //radio
    .glyphicon-star {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 22px;
      font-weight: 800;
      padding: 5px;
    }

    input[type="radio"] {
      display:none;
    }

    input[type="radio"] + label {
      background-color: $list-border;
      border-radius: 15%;
      &:hover {
        cursor: pointer;
      }
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:checked ~ label {
      background-color:$red;
    }
    
    input[type="radio"]:hover ~ label {
      background-color:$orange;
    }

    .ratings-wrap {
      float: left;
    }

    .write-review {
      width: 100%;
      display: inline-block;
    }

    //** switch input order to be albe to use general selector ~
    fieldset:not(:checked) > label {
      float: right;
      margin: 0 5px 0 0;
    }
    //end radio//
  }
}