//user registration form
.subhead-wrap {
  margin: 0 0 15px 0;
  text-align: center;
  .subheading {
    font-weight: bold;
    display: inline;
    + a {
      display: inline;
      font-weight: bold;
    }
    + a:hover {
      cursor: pointer;
    }
  }  
}

.wrapper {
  padding: 50px;
  img {
    width: 100%;
  }
}

.form-wrap {
  h1, h2, h3 {
    text-align: center;
  }
  padding: 0 20px 0 20px;
  .form-inline {
    .form-control {
      width: 49%;
    }
  }
}