header {
  h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
  } 
  .nav-padding {
    padding: 0 5%;
  }
  a {
    color: #fff !important;
  }
  .session {
    margin: 0 20px 0 0;
  }
  .container-fluid {
    padding: 0 5%;
  }
  .header-profile {
    padding: 10px 0;
    overflow: none;
    width: 100%;
    img {
      width: 36px;
      height: 36px;
      float: left;
      margin: 0 5px 0 0;
    }
    h5 {
      word-wrap: break-word;
      float: left;
      width: 50%;
      color: #fff;
    }
  }
}

.navbar-brand {
  width: 100%;
  padding: 0;
  img {
    width: 100%;
    height: auto;
  }
}

#searchbar {
  background: url("/images/header_stars.png");
  background-color: #d32323;
  background-size: cover;
  padding: 10px 5%;
  height: 80px;
  li {
    width: 100%;
  }
  a {
    font-size: 20px;
  }
  .input-group {
    width: 50%;
  }
  .navbar-nav {
    width: 100px;
  }
}

#secondary-nav {
  background: #bd1f1f;
  a {
    padding: 5px 10px;
  }
  li:hover {
    background-color: #a71c1c;
  }
}
