.row.listings
  .col-lg-8.col-md-8
    %h2.display-2 Sakura sushi
    %p.lead address
    .user-ratings
      %span
        .btn.btn-stars.btn-md
          %span.glyphicon.glyphicon-star
        .btn.btn-stars.btn-md
          %span.glyphicon.glyphicon-star
        .btn.btn-stars.btn-md
          %span.glyphicon.glyphicon-star
        .btn.btn-stars.btn-md
          %span.glyphicon.glyphicon-star
        .btn.btn-stars.btn-md
          %span.glyphicon.glyphicon-star
      %p.total 433 reviews
  .col-lg-4.col-md-4
    %a.btn.btn-danger.btn-md(href="/") write a review