@import "bootstrap-sprockets";
@import "bootstrap";

$list-border: #e6e6e6;
$red: #CC3300;
$orange: #f15c00;

@import 'shared/*';
@import 'pages/*';

h2, h3 {
  color: #d32323;
}

.btn-danger {
  background-color: #bd1f1f;
}

.reviews-total.btn.btn-stars {
  background-color: $orange;
}

.review-list {
  padding: 15px 0;
  border-top: 1px solid $list-border;
  border-bottom: 1px solid $list-border;
}

.no-padding {
  padding: 0;
}

ul.reviews, ul.location {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

img {
  border-radius: 10%;
}