@import "bootstrap-sprockets";
@import "bootstrap";

$list-border: #e6e6e6;
$red: #CC3300;
$orange: #f15c00;

@import "header";
@import "footer";
@import "form";
@import "profile";
@import "review_lists";

h2, h3 {
  color: #d32323;
}

.btn-danger {
  background-color: #bd1f1f;
}

.reviews-total.btn.btn-stars {
  background-color: $orange;
}

.review-list {
  padding: 15px 0;
  border-top: 1px solid $list-border;
  border-bottom: 1px solid $list-border;
}

.no-padding {
  padding: 0;
}

ul.reviews, ul.location {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

img {
  border-radius: 10%;
}




//business listing
.info {
  display: inline-block;
  .col-md-7 {
    padding-left: 0;
  }
  address {
    width: 70%;
    .phone {
      display: inline-block;
      width: 100%;
    }
  }
}

.latest-review img {
  width: 32px;
  height: 32px;
}



//business show page
.show {
  .heading {
    margin: 0 0 50px 0;
    overflow: hidden;
  }
  address {
    margin: 0;
    padding: 10px 0;
    .phone {
      display: inline-block;
    }
  }
  .write-review {
    margin: 20px 0 0 0;
    font-size: 22px;
  }
  .customer-reviews {
    overflow: hidden;
    h2 {
      margin: 0;
      padding: 0 0 10px 15px;
    }
    ul {
      list-style: none;
      li.review-list {
        overflow: hidden;
        .media-heading {
          name, .short-address {
            font-size: 14px;
            display: inline-block;
            width: 100%;
            margin: 0 0 5px 0;
          }
          name:hover {
            cursor: pointer;
          }
          .review {
            margin: 5px 0 0 0;
            font-size: 14px;
            .total {
              margin: 0;
              vertical-align: middle;
            }
          } 
        }
        p {
          margin: 20px 0 0 0;
        }
      }
    }
    .location-info {
      padding-bottom: 100%;
      margin-bottom: -100%;
      border-left: 1px solid $list-border;
      h3 {
        margin-top: 0;
      }
      ul {
        padding: 0;
        li {
          padding: 5px 0;
        }
      }
    }
  }
}

.add-review {
  .media {
    padding: 10px 0;
    border-top: 1px solid $list-border;
  }
  address {
    font-size: 14px;
    p {
      margin: 0;
    }
  }
}

//new review form
form#new-review {
  //radio
  .glyphicon-star {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    padding: 5px;
  }

  input[type="radio"] {
    display:none;
  }

  input[type="radio"] + label {
    background-color: $list-border;
    border-radius: 15%;
    &:hover {
      cursor: pointer;
    }
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:checked ~ label {
    background-color:$red;
  }

  input[type="radio"]:hover ~ label {
    background-color:$orange;
  }

  .ratings-wrap {
    float: left;
  }

  .write-review {
    width: 100%;
    display: inline-block;
  }

  //** switch input order to be albe to use general selector ~
  fieldset:not(:checked) > label {
    float: right;
    margin: 0 5px 0 0;
  }
  //end radio//
}