footer {
  margin: 50px 0 0 0;
  text-align: center;
  background: #f5f5f5;
  padding: 20px;
  #footer-bg {
    margin: 0 0 20px 0;
  }
  sm {
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
    margin: 18px 0 0 0;
  }
}