.profile {
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  h3 {
    color: #000;
  }
  .profile-image {
    margin: 20px 0 0 0;
    img {
      width: 90%;
    }
  }

  p.total {
    font-size: 16px;
    font-weight: 600;
    vertical-align: bottom;
    margin: 0 0 0 2px;
    display: inline-block;
  } 
  
  .reviews-total {
    background-color: #f15c00;
  }

  ul.location {
    padding: 0 15px;
    h3 {
      margin: 0 0 20px 0;
    }
    li {
      padding: 0 0 10px 0;
      h4 {
        font-size: 18px;
      }
      h4:first-of-type {
        font-weight: bold;
      }
    }
  } 
}