.row.listings.add-review
  .col-lg-8.col-md-8
    %h3 Write a Review
    = render 'media', business: @business

    = form_for @review, method: "patch", 
      url: business_review_path(@business, @review), 
      class: "new-review" do |f|
      = render 'form', f: f